ReadMe.md
_tests
terraform/.terraform/
terraform/terraform.tfstate
terraform/*.txt
terraform/*.exe
terraform/*.hcl
terraform/*.info
terraform/*.backup
terraform/*.tfvars
terraform/*.ini
terraform/*.pem
terraform/*.tfstate
ansible/inventory
*.zip
*.zip
