server {
    listen 80;
    server_name {{ hostvars['nginx']['public_ip'] }};

    root /usr/share/nginx/html;
    index index.html;

    location /view {
        proxy_pass http://{{ hostvars['flask']['ansible_host'] }}:{{ flask_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location / {
        index index.html;
    }
}
